<header class="header">
  <div class="logo">
    <a href="">
      <img src=""> ABI MGMT
    </a>
  </div>
  <div class="menu">
    <ul class="menu__list">
      <li class="menu__item"><a class="menu__link" routerLink="time">Zeiterfassung</a></li>
      <li class="menu__item"><a class="menu__link" routerLink="reporting">Reporting</a></li>
      <li class="menu__item"><a class="menu__link" routerLink="employees">Mitarbeiter</a></li>
      <li class="menu__item"><a class="menu__link" routerLink="members">Mitglieder</a></li>
    </ul>
  </div>
</header>
<main>
  <router-outlet></router-outlet>
</main>
