.actions {

  &__button {
    border: none;
    padding: 0.25rem 0.5rem;

    &--edit {
      background-color: map-get($color-primary-action, primary-action-lighter);
      &:hover {
        background-color: map-get($color-primary-action, primary-action-light);
      }
    }
    &--delete {
      background-color: map-get($color-direct, direct-orange);
      &:hover {
        background-color: map-get($color-direct, direct-orange-dark);
      }
    }
  }
}
