.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid #dedede;
}

.logo {
  flex: 1;
  max-width: 200px;
}

.menu {
  flex: 4;
  height: 100%;

  &__list {
    align-items: stretch;
    display: flex;
    justify-content: flex-end;
    list-style: none;
    height: 100%;
  }

  &__item {
    display: block;
    padding: 2rem 0.5rem;

    &:last-of-type {
      padding-right: 0;
    }
  }
}
