$color-basic: (
  primary-brand: #f5a21d,
  primary-white: #fff,
  primary-black: #000,
  secondary-black: #343434,
);

$color-grey-tones: (
  grey-tone-1 : #414141,
  grey-tone-2 : #5B5B5B,
  grey-tone-3 : #767676,
  grey-tone-4 : #999999,
  grey-tone-5 : #C2C2C2,
  grey-tone-6 : #D9D9D9,
  grey-tone-7 : #ECECEC,
  grey-tone-8 : #F5F5F5
);

$color-primary-action: (
  primary-action-bright :#1f7bfa,
  primary-action-medium :#008ED6,
  primary-action-light :#7FBCD9,
  primary-action-lighter :#b2d7e8,
  primary-action-lightest :#d9ebf4,
  primary-action-dark :#006192, //0068B3
  primary-action-darker :#075994
);

$color-direct: (
  direct-orange : #F86200,
  direct-orange-light : #ffd19a,
  direct-orange-lighter: #e7bf8b,
  direct-orange-lightest: #fef7ea,
  direct-orange-dark : #E15200,
  direct-orange-darker : #C15500,
  direct-green : #29a744,
);
