<abi-page pageTitle="reporting">
  <div class="d-flex">
    <div class="col-3 sidebar">
      <ul class="sidebar__nav">
        <li routerLinkActive="sidebar__link--active" routerLink="time" class="sidebar__nav-item">Arbeitszeiten</li>
        <li routerLinkActive="sidebar__link--active" routerLink="members" class="sidebar__nav-item">Mitglieder</li>
        <li routerLinkActive="sidebar__link--active" routerLink="employees" class="sidebar__nav-item">Employees</li>
      </ul>
    </div>
    <div class="col-9 sidebar-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</abi-page>
