<table>
  <thead>
  <tr>
    <th>#</th>
    <th *ngFor="let col of tableModel?.columns" (click)="tableModel.orderBy(col)" [class.active]="tableModel.config.orderBy === col">
      {{col}}
      <span *ngIf="tableModel.config.orderBy === col">
          {{tableModel.getOrder(col) === 'asc' ? '^' : 'v'}}
        </span>
    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let emp of tableModel?.data; let i = index">
    <td (click)="elementSelected.next(emp)"><a href="javascript:void(0)">{{i}}</a></td>
    <td *ngFor="let colName of tableModel?.columns">{{tableModel.render(colName, emp)}}</td>
  </tr>
  </tbody>
</table>
